.Heading{
    text-align: center;
}
.Heading h2{
    color: var(--primary-4);
    font-weight: 700;
    text-transform: uppercase;
}
.Heading .Bar::after{
    content: "";
    display: block;
    margin: 30px 0;
    height: 3px;
    width: 140px;
    background-color: var(--secondary);
    margin-left: auto;
    margin-right: auto;
}