.eopHeading{
    color: var(--bs-danger);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.eopCard{
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030; */
    /* margin: 20px; */
}
.eopCard:hover{
    box-shadow: 0 14px 18px 0 #00000033, 0 6px 20px 0 #00000030;
}
.eopCard .image{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-size: cover;
    height: 250px;
    position: relative;
    border-bottom: 6px solid var(--bs-danger);
}
.eopCardHeading{
    color: var(--bs-danger);
    margin-bottom: 20px;
}
.eopPara{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 30px;
}